<p>
  news works!
</p>
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-2">

            <div *ngIf="news?.data.length == 0 && title != null" class="row">
                <span>THERE ARE NO RESULTS THAT MATCH YOUR SEARCH</span>
            </div>
            <div *ngIf="news?.data.length > 0" class="row justify-content-center">
                <div class="col-12">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let item of news?.data">
                                <td style="border-top:none">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title" style="font-weight:500;margin-bottom:0px;"><span><a [routerLink]="['/news/description', item.id]" style="color:#635252">{{item.title}}</a></span></h5>
                                            <h6 style="font-family:cursive;font-size:13px;"><span>{{item.date | date}} {{item.author}}</span></h6>
                                            <p class="card-text">{{item.text}}</p>
                                            <!--<a href="#" class="btn btn-light">Go detail</a>-->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row justify-content-center" style="margin-bottom:30px;">
                <div class="col-3">
                    <div class="btn-group dropup" style="margin-left:15px;">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort By: {{sortBy}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" (click)="sortByChanged('date')">Date</button>
                            <button class="dropdown-item" (click)="sortByChanged('title')">Title</button>
                            <button class="dropdown-item" (click)="sortByChanged('author')">Author</button>
                            <button class="dropdown-item" (click)="sortByChanged('source')">Source</button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <ul class="pagination justify-content-center">
                            <li [ngClass]="activePage > 1 ? 'page-item' : 'page-item disabled'">
                                <button class="page-link" tabindex="-1" (click)="goPrevPage()">Previous</button>
                            </li>
                            <li [ngClass]="activePage == 1 ? 'page-item disabled' : 'page-item'" *ngIf="pageCount > 0"><button class="page-link" (click)="activePageChanged(-2)">{{activePage}}</button></li>
                            <li [ngClass]="activePage == 2 ? 'page-item disabled' : 'page-item'" *ngIf="pageCount > 1"><button class="page-link" (click)="activePageChanged(-1)">{{activePage + 1}}</button></li>
                            <li [ngClass]="activePage > pageCount ? 'page-item disabled' : 'page-item'" *ngIf="pageCount > 2"><button class="page-link" (click)="activePageChanged(0)">{{activePage + 2}}</button></li>
                            <li [ngClass]="pageCount > 1 && activePage == pageCount - 2 ? 'page-item disabled' : 'page-item'" *ngIf="pageCount > 3"><button class="page-link" (click)="activePageChanged(1)">{{activePage + 3}}</button></li>
                            <li [ngClass]="pageCount > 0 && activePage == pageCount - 1 ? 'page-item disabled active' : 'page-item'" *ngIf="pageCount > 4"><button class="page-link" (click)="activePageChanged(2)">{{activePage + 4}}</button></li>
                            <li [ngClass]="activePage < pageCount ? 'page-item' : 'page-item disabled'">
                                <button class="page-link" (click)="goNextPage()">Next</button>
                            </li>
                            <li [ngClass]="'page-item disabled'">
                                <button class="page-link">{{pageCount}}</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="btn-group dropup" style="margin-left:35px;">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Items: {{itemCount}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" (click)="itemCountChanged(10)">10</button>
                            <button class="dropdown-item" (click)="itemCountChanged(20)">20</button>
                            <button class="dropdown-item" (click)="itemCountChanged(50)">50</button>
                            <button class="dropdown-item" (click)="itemCountChanged(100)">100</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    



</div>
